.userContainer {
    width: 100%;
    padding: 15px 0;
}

.user {
    border: 1px solid silver;
    border-radius: 5px;
    margin: 10px 0;
}

.user h2 {
    padding-left: 15px;
}

.user p {
    margin-bottom: 10px;
    padding-left: 15px;
}